

@charset "ISO-8859-1";
*{
	margin: 0;
	padding: 0;
	
}
 body {
	margin: 0;
	background:#c0c0c0 ;
	font-family: 'Arila', serif;
	font-weight: 300;
}
nav {
	width: 100%;
	height: 60px;
	background-color: #fff;
}

nav p {
	font-family: arial;
	color: #222;
	font-size: 24px;
	line-height: 55px;
	float: left;
	padding:0 20px;
}
nav ul {
	float: left;
	float: right;
}
nav ul li {
	position: relative;
	display: inline-block;		
}
nav ul li a {
	display: block;
	font-family: arial;
	font-size: 20px;
	padding: 17px 17px;
	text-decoration: none;
	color: #222;
	 
}

/*dropdown hidden by deafult*/
nav ul li ul {
	  display: none;
	  position: absolute;
	  background-color: #f1f1f1;
	  min-width: 160px;
	  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	  z-index: 1;	  
}

nav ul li ul li {
	width:180px;
}
nav ul li ul li a {
	padding: 8px 8px;
	display: block;
	text-decoration: none;
}
nav ul li:hover ul{
	display: block;	
}
nav ul li ul li a:hover {
	background-color: #fff;
}

























